{% extends 'base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('pins.create') }}">Create Pin</a></li>
        </ul>
    </nav>
    <h1>Create Pin</h1>

        {{ form_start(formView) }}
            {{ form_widget(formView) }}

            <input type="submit" value="Create Pin">

        {{ form_end(formView) }}
{% endblock %}