{% extends "base.html.twig" %}

{% block title 'ShameWallOfFame!' %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('pins.create') }}">Create Pin</a></li>
        </ul>
    </nav>
    <h1>{{ pluralize(pins|length, 'Pin') }}</h1>

    {% for pin in pins %}
        <article>
            <h2><a href="{{ path('pins.show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
            <p>{{ pin.description|u.truncate(8, '...', false) }}</p>
            <p>Submitted {{ pin.createdAt|ago }}</p>
        </article>
    {% endfor %}
{% endblock %}
