{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <article>
        <h1>{{ pin.title }}</h1>
        <p>{{ pin.description }}</p>
    </article>

    <a href="{{ path('pins.edit', {id: pin.id}) }}">Edit</a> |
    <a href="#" onclick="event.preventDefault(); confirm('Do you want to delete ?') && document.getElementById('js-deleteForm').submit();">Delete</a>
    <a href="{{ path('home') }}">Go Back</a>

    <form id="js-deleteForm" action="{{ path('pins.delete', {id: pin.id}) }}" method="post" style="display:none;">
    <input type="hidden" name="csrfTkn" value="{{ csrf_token('pin-delete' ~ pin.id) }}">
        <input type="hidden" name="_method" value="Delete">
    </form>
{% endblock %}